
body{
    background-color: #fff;
    
}

header{
    color: yellow;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size:18px;
    font-weight: 500;
}
.dropdown-item:hover {
    background-color: rgba(255, 235, 205, 0.644);
    
}
.btn-outline-success{
    color: black;
    background-color: white;
    border-color:  black;
}
.form-control.mr-sm-2{
    outline: none;
}
button.logO{
    padding:6.9px;
    margin-left: 10px;
    border: 1px soild black;
    background-color: white;
    outline: none;
    margin-right: 20px;
    font-size: 14px;

}
h2.enter{
    text-align: center;
    color: rgb(32, 31, 31);
    font-size: 22px;
    padding-top: 20px;
}
.nav-link{
    margin-left: 18.5px;
}
.row{
    height: 380px;
    margin-top: 32px;
}
.col-5{
    
    height: 280px;

    
    
}
.col-7{
    border: 1.2px solid black;

    height: 280px;
}
.glance{
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 32px 40px ;
    justify-items: center;
   height: 200px;
  
}
.notice{
    border: 1px soild black;
    height: 100px;
}

.enter-d{
padding-top: 20px;
}
.col-10{
    background-color: rgb(231, 112, 26);
    height: 200px;
    margin: 0 auto;
    margin-top: 15px;
}
.num1{
    padding-top: 20px;
    background-color: rgb(0,178,111);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.num2{
    padding-top: 20px;
    background-color: #FF8300;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.num3{
    padding-top: 20px;
    background-color: #00B5E9;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.num4{
    padding-top: 20px;
    background-color: #FA4251;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#num, #attri {
text-align: center;
}

form{
    padding-top: 20px;
}
.form-control.mr-sm-2{
    border-radius: 28px;
    margin-left: 35px;
}
.btn{
    border-radius: 25px;
    
}
#admn{
text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #333333;
    width: 100%;
    margin-left: 0;
}
a.nav-link{
color:#333333 ;
font-size: 16.5px;
}
.container.pagewrapper{
    margin: 50px auto;
    padding: 20px 15px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
}
.card-block{
    padding: 15px;
    
}

.btn.btn-primary{
   margin-bottom: 15px;
   font-size: 14px;
   margin:20px;
}

headings{
    font-weight: 800;
    padding-left: 20px;
    margin-top: 10px;
   
}
child{
    padding-left: 20px;
    padding-top: 15px;
    margin: 10px;
   
}
.mar{
    margin-top: 24px;
}
.noReport {
    
    margin: 22px;
    font-size: 18px;
}


.addNewPatients, .gatherReport{
    margin: 12px;
}
.noti{
    margin: 20px;
    border: 0.1px solid rgba(128, 128, 128, 0.377);
}
.notiList{
    margin: 11px;
    border: 0.1px solid rgba(128, 128, 128, 0.377);
   
}
.file, .editNoti, .removeNoti{
    margin: 10px;
}

